.container {
  margin: auto;
  width: 39%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  margin: 50px;
}
.barra {
  color: #d9d9d9;
}

.card {
  display: flex;
  align-items: center;
  img {
    margin: 30px;
    border-radius: 15px;
  }
  p {
    margin: 20px;
    text-align: left;
    
  }
}

.text {
  font-size: 20px;
  font-weight: 600;
}

.subtext {
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}
